/*Reset*/
*{
	margin:0;
	padding:0;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
input,select,option, img{
	outline:0;
	border:0;
}
a{
    text-decoration: none;
}

/*General*/
body{
	background: #f7f7f7;
	font-family: Arial, sans-serif;
	color: rgb(26, 98, 126)
}
#wrapper{
	width: 960px;
	margin: 20px auto;
}
#content{
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: 5px solid #FFF;
	background: rgb(241, 241, 241);
}
#content p{
	margin-bottom: 15px;
}


/*Style Script*/
#scroll-block{
	position: fixed;
	top:100px;
	right: 0;
}

#scroll-block span > a{
	text-indent: -9999px;
	height: 24px;
	width: 24px;
	display: block;
	margin-bottom: 5px;
	padding: 5px;
	background-color: rgb(42, 138, 202);
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.scroll-top a{
	background: url(../img/icons.png) 4px -2px no-repeat;
}
.scroll-stop a{
	background: url(../img/icons.png) 4px -77px no-repeat;
}
.scroll-bottom a{
	background: url(../img/icons.png) 4px -36px no-repeat;
}
#scroll-block span > a:hover{
	background-color: rgb(76, 172, 236);
}


